.spacer-1 {
    height: 1vh;
}

.spacer-2 {
    height: 2vh;
}

.spacer-4 {
    height: 4vh;
}

.spacer-6 {
    height: 6vh;
}

.spacer-8 {
    height: 8vh;
}

.spacer-10{
    height: 10vh;
}

.spacer-20{
    height: 20vh;
}

.spacer-30{
    height: 30vh;
}

.spacer-40{
    height: 40vh;
}

.spacer-50{
    height: 50vh;
}

.spacer-60{
    height: 60vh;
}

.spacer-70{
    height: 70vh;
}

.stick-right {
    float: right !important;
}

.invisible {
    visibility: hidden;
}